<head>
    <meta charset="UTF-8">

    <title>应用中心</title>
    <script>
        var item = {}

        var appname = this.routerinfo.snapshot.queryParams["appname"]
        console.log(`appname:${appname}`)

        function menuButtonClick(item) {
            console.log(`==>${item.name},${item.url}`)
            $('#app-menu-browser').addClass('is-shown')
            let webview = document.getElementById('app-webview')
            let loginUser = require('electron').remote.getGlobal('loginUser')
            webview.setAttribute('src', `${item.url}?username=${loginUser.username}`)
            $('#app-title').html(item.dataset.name)
        }

        $('#browser-close').click(function() {
            let webview = document.getElementById('app-webview')
            webview.setAttribute('src', '')
            $('#app-menu-browser').removeClass('is-shown')
        })

        $('#browser-back').click(function() {
            let webview = document.getElementById('app-webview')
            if (webview.canGoBack()) {
                webview.goBack()
            }
            console.log(webview.getURL())
        })

        $('#browser-forward').click(function() {
            let webview = document.getElementById('app-webview')
            if (webview.canGoForward()) {
                webview.goForward()
            }
            console.log(webview.getURL())
        })
    </script>
</head>

<!-- <div id="app-menu-browser" class="app-menu-browser is-shown">
    <div id="controls" class="browser-control">
        <button id="browser-back" title="Go Back" width='60'>&#9664;</button>
        <button id="browser-forward" title="Go Forward" width='60'>&#9654;</button>
        <button id="browser-close" title="关闭">关闭</button>
        <h4 id="app-title" class="app-title">标题</h4>
    </div>
    <div>
        <webview id="app-webview" class="webview-wrapper" src=""></webview>
    </div>
</div> -->

<div class="chatBoxInner">
    <div class="box_hd">
        <div id="controls" class="browser-control">
            <button id="browser-back" title="Go Back" width='60'>&#9664;</button>
            <button id="browser-forward" title="Go Forward" width='60'>&#9654;</button>
            <button id="browser-close" title="关闭">关闭</button>
            <h4 id="app-title" class="app-title">标题</h4>
        </div>
        <!-- <div class="title_wrap">
            <a class="phone_return" ng-click="back()"><span class="backArrow"><</span>返回</a>
            <button id="browser-back" title="Go Back" width='60'>&#9664;</button>
            <button id="browser-forward" title="Go Forward" width='60'>&#9654;</button>
            <div class="title">
                <a class="title_name">群资料</a>
            </div>
            <!-- <a class="editBtn" href="javascript:void 0" ng-click="isEditable=!isEditable"><span ng-if="!isEditable">编辑</span><span ng-if="isEditable">取消</span></a> -->
    </div> -->
</div>

<div id="functionBox">
    <div>
        <webview id="app-webview" class="webview-wrapper" src=""></webview>
    </div>
</div>
</div>