/* 自定义样式 */


/* Loading */

.loading-svg {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    visibility: hidden;
    transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in;
}

.loading-svg.is-shown {
    visibility: visible;
    transition: visibility 0s 0s linear, opacity .36s ease-out, transform .36s ease-out;
}


/* WebView */

.webview-wrapper {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(245, 245, 245);
}

.browser-control {
    height: 60;
}

.app-menu-browser {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.app-menu-browser.is-shown {
    visibility: visible;
}

.app-title {
    color: black;
    position: relative;
    left: 35%;
}