.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 50px 50px 50px;
    /* background-color: #000; */
    grid-gap: 10px;
}

.container::before,
.container::after {
    display: none !important;
}


/* .container::after {
    display: none !important;
} */