body {
    padding: 10px;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    background-color: hsl(0, 0%, 96%);
    text-align: center;
    font-size: 15px;
}

.login-section {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-accent);
    /* Hide */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in;
}

.login-section.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s 0s linear, opacity .36s ease-out, transform .36s ease-out;
}

.login-wrapper {
    margin: auto;
}

.login-header {
    padding: var(--about-space) 0;
}

.login-logo {
    /* padding-top: 50px; */
    display: block;
    margin: 5% auto 20px auto;
    /* margin-top: 5%; */
    width: 90px;
    /* TODO: Adjust asset to this size */
    max-width: 100%;
}

.lgoin-input {
    margin: 0 auto 0 auto;
    width: 200px;
    height: 30;
}

.login-button {
    width: 200px;
    color: white;
    background-color: red
}

.login-title {
    margin: 0 auto 20px auto;
    color: red;
}

.login-version {
    position: absolute;
    top: auto;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: gray;
}

.login-sections {
    max-width: 680px;
    padding: 0 var(--about-space);
}

@media (min-width: 940px) {
    .login-header {
        align-self: center;
        padding: var(--about-space);
        border-right: 1px solid hsl(0, 0%, 88%);
        border-bottom: none;
    }
    .login-wrapper {
        display: flex;
    }
}