body {
    padding: 10px;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    background-color: hsl(0, 0%, 96%);
    text-align: center;
    font-size: 15px;
}

.login {
    --about-space: 4rem;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
    transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in;
}

.login-wrapper {
    margin: auto;
}

.login-header {
    padding: var(--about-space) 0;
}

.login-logo {
    display: block;
    margin: 0 auto;
    width: 90px;
    /* TODO: Adjust asset to this size */
    max-width: 100%;
}

.lgoin-input {
    margin: 0 auto;
    width: 200px;
    height: 30;
}

.login-button {
    width: 200px;
    color: white;
}

.login-sections {
    max-width: 680px;
    padding: 0 var(--about-space);
}

.login-section {
    margin: var(--about-space) 0;
}

@media (min-width: 940px) {
    .login-header {
        align-self: center;
        padding: var(--about-space);
        border-right: 1px solid hsl(0, 0%, 88%);
        border-bottom: none;
    }
    .login-wrapper {
        display: flex;
    }
}